.DS_Store
book.aux
book.log
book.out
book.pdf
book.synctex.gz
book.toc
Sample.aux
Sample.log
Sample.out
Sample.pdf
Sample.synctex.gz
Sample.toc
lib/texput.log
"Statistics Textbook.aux"
"Statistics Textbook.fdb_latexmk"
"Statistics Textbook.fls"
"Statistics Textbook.log"
"Statistics Textbook.out"
"Statistics Textbook.pdf"
"Statistics Textbook.tex"
"Statistics Textbook.toc"
